html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
    //min-height: 100%;
}

body {
    background: rgb(77,117,248) no-repeat;
    background: linear-gradient(55deg, rgba(77,117,248,1) 0%, rgba(9,9,121,1) 0%, rgba(111,176,252,1) 50%), no-repeat;
    //height: 100%;
}

.page-wrap {
    max-width: 1200px;
    margin: auto;
    left: 50%;
    top: 50%;
}

#root {
    height: 100%;
}
