// Styles de la page Home
.infos-block {
    &__title-block {
        position: relative;
        z-index: 999;

        &__full {
            font-size: 18rem;
            font-weight: bolder;
            color: white;
            margin-top: 20%;
            z-index: 999;
            position: relative;
        }

        &__outline {
            display: block;
            font-size: 18rem;
            font-family: $titleFont;
            font-weight: bolder;
            color: transparent;
            -webkit-text-stroke-width: 5px;
            -webkit-text-stroke-color: $blue;
            z-index: 998;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            left: 15px;
            right: 0;
            top: 15px;
        }
    }
}

.home-page {
    text-align: center;
    // &__title {
    //     font-size: 18rem;
    //     font-weight: bolder;
    //     color: white;
    //     margin-top: 20%;
    //     z-index: 999;
    //     position: relative;
    // }
    &__subtitle {
        font-weight: bold;
        font-size: 3rem;
        color: $titleColor;
        margin-top: 2rem;
        position: relative;
        z-index: 999;
    }

    &__arrow {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }

    // BULLES
    .circle {
        //background: white;
        z-index: 0;
        display: block;
        border-radius: 100%;
        position: fixed;
        background: rgb(165,206,255);
        background: linear-gradient(135deg, rgba(165,206,255,1) 24%, rgba(77,117,248,1) 80%);
    }

    .circle1 {
        height: 600px;
        width: 600px;
        top: -5%;
        left: -5%;
    }

    .circle2 {
        height: 400px;
        width: 400px;
        top: -5%;
        right: -5%;
    }
}

