// Styles de la page User
.user-page {
    overflow: hidden;
    //Gestion du scroll pour la page
    .user-wrap {
        overflow: scroll;
        height: 100vh;
        &::-webkit-scrollbar {
            display: none;
        }
    }


    &__arrow {
        position: absolute;
        top: 2%;
        left: 2%;
    }

    //Stylage du groupe de vignettes d'informations
    &__articles-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__article {
            background-color: white;
            width: 48%;
            margin-bottom: 2%;
            padding: 5%;
            border-radius: $borderRadius;
            box-shadow: $boxShadow;
            &__title {
                text-align: center;
                font-size: 3rem;
                font-weight: bold;
                margin-bottom: 5%;
            }
            &__content {
                font-size: 1.5rem;
            }
        }
    }

    //Gestion du select des utilisateurs
    .users-select {
        //Stylage ce l'element
        &__droplist {
            display: block;
            margin: 10% auto 0 auto;
            width: 100%;
            border-radius: 0%;
            background-color: transparent;
            border: solid white 8px;
            color: white;
            font-size: 3rem;
            font-family: $titleFont;
            -webkit-appearance: none;
            -moz-appearance: none;
            -webkit-border-radius: 0px;
            background-image: url("https://image.flaticon.com/icons/svg/60/60781.svg");
            background-position: 99% 50%;
            background-repeat: no-repeat;
            background-size: 16px;
            padding: 2%;
        }
    }

    //Stylage de la vignette
    .infos-block {
        margin: 5% 0;
        &__info {
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 2%;
            &--light {
                color: white;
            }
        }
    }
}